div#footer {
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  color:#CCC;
  background:#333;
  padding:4px;
}

body {
  padding: 20px;
  border: 20px;
  margin: 20px;
  font-size: larger;
  background-image: url("https://images.squarespace-cdn.com/content/v1/5edee990a8696a7b8618fe6d/1592969100838-LFYK2NLO6IOIP3XJ2IUA/salon.jpg");
}

h1 {
  margin-left: 10em;
  width: auto;
}

a {
  color: black;
  margin-left: 2em;
}
