@{
  Layout = "_Layout";
}

<h1>Welcome to Aunt Claire's Pancake House and Hair Salon Castle!</h1>
<p>@Html.ActionLink("SEE ALL CLIENTS", "Index", "Clients")</p> 
<p>@Html.ActionLink("SEE ALL STYLISTS", "Index", "Stylists")</p>